
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1A1F71;;">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png">
            Bio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="user-register" routerLinkActive="active">User Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="merchant-register" routerLinkActive="active">Merchant Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="merchant-login" routerLinkActive="active">Merchant Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <p style="background-color:#F7B600;color:#F7B600 ;">.</p>